@import "generic/reset";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #f8f8f9;
}

.wrapper{
  max-width: 1626px;
  width: 100%;
  margin: auto;
  display: flex;
}

@import "settings/fonts";
@import "settings/colors";
