@import "generic/reset";
@import "settings/fonts";
@import "settings/colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: $font-base;
  background-color: #FFFFFF;
}

.wrapper{
  max-width: 1900px;
  width: 100%;
  margin: auto;
  display: flex;
}

@import "elements/navigation";
@import "elements/mainSection";
@import "elements/threeColumn";
@import "elements/simpleSteps";
@import "elements/aboutUS";
@import "elements/whoHelp1";
@import "elements/contact";

