@import "../settings/fonts";
@import "../settings/mixins";
@import "../settings/colors";

.form {
  margin-top: 130px;


  .wrapper {
    flex-direction: column;
  }

  &__yellowBar {
    background-color: #FAD648;
    width: 100%;
    height: 180px;


    &__header {
      font-size: 36px;
      margin-top: 50px;
      margin-left: 142px;
      font-weight: 700;
    }

    &__content {
      font-size: 22px;
      margin-top: 10px;
      margin-left: 142px;
    }
  }

  &__pageOne {
    background-image: url("../../assets/Background-Form.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__steps {
      font-size: 24px;
      font-weight: 200;
      margin-top: 35px;
      margin-left: 142px;
    }

    &__header {
      font-size: 36px;
      font-weight: 700;
      margin-top: 70px;
      margin-left: 142px;
    }

    &__formRadio {
      display: flex;
      flex-direction: column;
      margin-left: 142px;
      :nth-child(5){
        margin-bottom: 150px;
    }


    }

    &__radio {
      margin-top: 40px;
      font-size: 24px;
      font-weight: 200;
      display: flex;
      align-items: center;

    }

    &__btn {
      margin-left: 142px;
      margin-bottom: 50px;
      width: 180px;
      height: 79px;
      background: none;
      border: 0.75px solid ;
      font-size: 24px;
      font-weight: 200;
    }
    &__validation {
      color: red;
      margin-left: 142px;
      margin-bottom: 10px;
    }
  }

  &__pageTwo {
    background-image: url("../../assets/Background-Form.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__steps {
      font-size: 24px;
      font-weight: 200;
      margin-top: 35px;
      margin-left: 142px;
    }

    &__header {
      font-size: 36px;
      font-weight: 700;
      margin-top: 70px;
      margin-left: 142px;
    }

    &__formSelect {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 142px;
      margin-bottom: 470px;
    }

    &__formContent {
      margin-top: 40px;
      font-size: 24px;
      font-weight: 200;
    }

    &__select {
      margin-top: 40px;
      font-size: 24px;
      font-weight: 200;
      background: none;
      margin-left: 26px;
      width: 300px;
      height: 49px;
      cursor: pointer;

    }


    &__btn {

      margin-left: 142px;
      margin-bottom: 50px;
      width: 180px;
      height: 79px;
      background: none;
      border: 0.75px solid black;
      font-size: 24px;
      font-weight: 200;
    }
    &__validation {
      color: red;
      margin-left: 142px;
      margin-bottom: 10px;
    }

    &__btnNext {

      margin-left: 50px;
      margin-bottom: 50px;
      width: 180px;
      height: 79px;
      background: none;
      border: 0.75px solid black;
      font-size: 24px;
      font-weight: 200;
    }
  }

  &__pageThird {
    background-image: url("../../assets/Background-Form.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    &__steps {
      font-size: 24px;
      font-weight: 200;
      margin-top: 35px;
      margin-left: 142px;
    }

    &__formContent {
      font-size: 36px;
      font-weight: 700;
      margin-top: 70px;
      margin-left: 142px;
    }

    &__select {
      margin-top: 40px;
      margin-left: 142px;
      font-size: 24px;
      font-weight: 200;
      background: none;
      width: 300px;
      height: 49px;
      cursor: pointer;
    }

    &__Header {
      font-size: 24px;
      font-weight: 700;
      margin-top: 70px;
      margin-left: 142px;
    }

    &__btnCont {
      margin-left: 142px;
      width: 680px;
    }

    &__selectBtn {
      margin-top: 20px;
      padding: 11px 26px 11px 26px;
      border: 0.75px solid #3C3C3C;
      margin-right: 24px;
      font-size: 24px;
      font-weight: 100;
    }

    &__curentHeader {
      font-size: 24px;
      font-weight: 700;
      margin-top: 70px;
      margin-left: 142px;
    }

    &__curentText {
      margin-top: 20px;
      margin-left: 142px;
      width: 570px;
      height: 40px;
      background-color: #eceae6;
      border: 0.75px solid #3C3C3C;
      margin-bottom: 121px;
    }

    &__btn {
      margin-left: 142px;
      margin-bottom: 50px;
      width: 180px;
      height: 79px;
      background: none;
      border: 0.75px solid black;
      font-size: 24px;
      font-weight: 200;
    }
    &__validation {
      color: red;
      margin-left: 142px;
      margin-bottom: 10px;
    }

    &__btnNext {
      margin-left: 50px;
      margin-bottom: 50px;
      width: 180px;
      height: 79px;
      background: none;
      border: 0.75px solid black;
      font-size: 24px;
      font-weight: 200;
    }
  }

  &__pageFour {
    background-image: url("../../assets/Background-Form.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    &__steps {
      font-size: 24px;
      font-weight: 200;
      margin-top: 35px;
      margin-left: 142px;
    }

    &__header {
      font-size: 36px;
      font-weight: 700;
      margin-top: 70px;
      margin-left: 142px;
    }

    &__container {
      display: flex;
      margin-left: 142px;
    }

    &__firstTable {


      &:nth-child(2) {
        margin-left: 152px;
      }
    }

    &__text {
      margin-top: 50px;
      font-weight: 700;
      font-size: 24px;

      &__cont {
        margin-top: 23px;
        display: flex;
        align-items: center;

      }

      &__content {
        width: 101px;
        font-size: 22px;
      }

      &__input {
        background-color: #eceae6;
        border: #3C3C3C solid 0.75px;
        width: 256px;
        height: 40px;
        margin-left: 50px;
      }
      &__textarea {
        background-color: #eceae6;
        border: #3C3C3C solid 0.75px;
        width: 256px;
        height: 120px;
        margin-left: 50px;
      }
    }


    &__btn {
      margin-top: 205px;
      margin-left: 142px;
      margin-bottom: 50px;
      width: 180px;
      height: 79px;
      background: none;
      border: 0.75px solid black;
      font-size: 24px;
      font-weight: 200;
    }

    &__btnNext {
      margin-top: 205px;
      margin-left: 50px;
      margin-bottom: 50px;
      width: 180px;
      height: 79px;
      background: none;
      border: 0.75px solid black;
      font-size: 24px;
      font-weight: 200;
    }
  }
  &__pageSummary {
    background-image: url("../../assets/Background-Form.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__header {
      font-size: 36px;
      font-weight: 700;
      margin-top: 70px;
      margin-left: 142px;
    }

    &__headerSum {
      font-size: 24px;
      font-weight: 700;
      margin-top: 70px;
      margin-left: 142px;

      &__container {
        margin-left: 142px;
        margin-top: 20px;
      }

      &__firstRow{
        display: flex;
        align-items: center;
      }

      &__img {
        width: 50px;
        height: 50px;
        margin-right: 19px;
      }
      &__text {
        font-weight: 500;
      }
    }

    &__container {
      display: flex;
      margin-left: 142px;
    }

    &__firstTable {


      &:nth-child(2) {
        margin-left: 152px;
      }
    }

    &__text {
      margin-top: 50px;
      font-weight: 700;
      font-size: 24px;

      &__cont {
        margin-top: 23px;
        display: flex;
        align-items: center;
      }

      &__content {
        width: 101px;
        font-size: 22px;
      }

      &__input {
        width: 256px;
        height: 40px;
        margin-left: 50px;
        font-size: 22px;
        display: flex;
        align-items: center;
      }
      &__textarea {
        width: 256px;
        height: 120px;
        margin-left: 50px;
        font-size: 22px;
      }
    }


    &__btn {
      margin-top: 59px;
      margin-left: 142px;
      margin-bottom: 50px;
      width: 180px;
      height: 79px;
      background: none;
      border: 0.75px solid black;
      font-size: 24px;
      font-weight: 200;
    }

    &__btnNext {
      margin-top: 59px;
      margin-left: 50px;
      margin-bottom: 50px;
      width: 180px;
      height: 79px;
      background: none;
      border: 0.75px solid black;
      font-size: 24px;
      font-weight: 200;
    }
  }

  &__pageEnd {
    background-image: url("../../assets/Background-Form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 803px;

    &__header {
      width: 628px;
      text-align: center;
      font-size: 36px;
      font-weight: 200;
      margin-top: 330px;
      margin-left: 294px;
      line-height: 42px;
    }

    &__decoration {
      width: 253px;
      height: 33px;
      margin-left: 482px;
      margin-top: 25px;
    }
  }

  input[type=radio] {
    padding: 20px;
    -webkit-appearance: none;
    outline: 0.5px solid black;
    margin-right: 30px;

  }

  input[type=radio]:checked {
    display: inline-block;
    background-color: #FAD648;
  }

  select {
    color: black;
    padding: 12px;
    -webkit-appearance: button;
    outline: none;
  }

}