@import "../settings/fonts";
@import "../settings/mixins";
@import "../settings/colors";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.mainSectionForm {

  .wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .mainSection_imgForm {
      position: absolute;
      background-image: url("../../assets/Form-Hero-Image.jpg");
      bottom: -130px;
      left: 0;
      z-index: 1;
      background-size: cover;
      background-position: right;
      width: 885px;
      height: 900px;
    }
  }

  .mainSection__containerForm {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-top: 210px;
    margin-right: 275px;
    align-items: center;

    h1 {
      font-size: 38px;
      height: 107px;
      text-align: center;
      line-height: 140%;
    }

    .decoration {
      width: 253px;
      height: 33px;
      margin-top: 25px;
      margin-bottom: 65px;
    }
  }
  &__paragraph {
    margin-top: 19.2px;
    font-size: 40px;
    font-weight: 200;
  }
  &__fourSteps{
    display: flex;
    justify-content: center;
    align-items: center;

    &__element{
      width: 150px;
      height: 150px;
      margin-top: 25.8px;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid black;
      rotate: 45deg;
    }
    h2 {
      font-size: 32px;
      color: black;
    }
  }
}
