@import "../settings/fonts";
@import "../settings/mixins";
@import "../settings/colors";

.three__column {
  margin-top: 200px;

  .wrapper {

  }

  .three__column__container {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 384px;
    @include tablet {
      height: 100%
    }
  }

  .three__column__background {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 700px;
    height: 384px;
    @include tablet {
      height: 100%
    }
  }

  .three__column__description {
    z-index: 1;
    display: flex;
    align-items: center;
    height: 384px;
    width: 100vw;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;

    @include tablet {
      flex-direction: column;
      height: auto;
      margin-bottom: 8%;
    }
  }

  .three__column__firstCont {
    max-width: 334px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include tablet {
      margin-top: 8%;

    }
  }

  .three__column__secCont {
    max-width: 334px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .three__column__thirdCont {
    max-width: 334px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

h2 {
  font-size: calc(22px + 26 * ((100vw - 320px) / 680));
  color: $color-sec;
  font-weight: 100;
}

h3 {
  font-size: calc(15px + 3 * ((100vw - 320px) / 680));
  color: $color-five;
  font-weight: 600;
  margin-bottom: 28px;
  margin-top: 20px;
}

.three__column__text {
  text-align: center;
  font-size: calc(10px + 3 * ((100vw - 320px) / 680));
  font-weight: 300;
  line-height: 25px;
}
