@import "../settings/fonts";
@import "../settings/mixins";
@import "../settings/colors";

.whoHelp {
  margin-top: 70px;


  .wrapper {
    display: flex;
    justify-content: center;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1344px;
  }

  h6 {
    font-size: 38px;
    color: #3C3C3C;
    margin-bottom: 25px;
  }

  &__decoration {
    width: 253px;
    height: 33px;
    margin-bottom: 50px;
  }

  &__diffrence {
    width: 750px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
  }

  .pagination-btn {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    width: 208px;
    height: 79px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    font-size: 24px;
    color: #3C3C3C;
    font-weight: 400;
    text-align: center;
    &:hover {
      border: 1px solid $color-four;
    }
  }

  &__text {
    margin-top: 80px;
    width: 640px;
    height: 94px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 66px;
  }

  &__organiation__container {
    width: 100%;

  }


  &__organiation__content {
    height: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 34px;

    &:nth-child(1){
      border-bottom: 2px solid silver;
    }
    &:nth-child(2){
      border-bottom: 2px solid silver;
    }
  }

  &__organization {
    font-size: 26px;
    color: #3C3C3C;
    font-weight: 400;
  }

  &__target {
    font-size: 18px;
    margin-top: 6px;
    color: #3C3C3C;
  }

  &__wichHelp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #3C3C3C;
  }

  .paginationBttns {
    display: flex;
    margin-bottom: 80px;
    height: 50px;
    justify-content: space-between;
  }
  .paginationBttns a {
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    &:hover{
      border: 1px solid black;
    }
  }

  .previousBttn {
    display: none;
  }
  .nextBttn {
    display: none;
  }

  .paginationActive a{
    border: 1px solid black;
  }

}